<!DOCTYPE html>
   <%-include("template/head") %> 
   <%-include("template/navbar") %> 

	<div class="container-fliud">
		<% if (userInfo.isLogged) { %>
			<h1>Bienvenido!</h1>
		<% } %>
	</div>
   <%-include("template/footer") %> 
</html>
