    <!-- Footer -->
    <footer id="seccion3" class="footer bg-light text-center text-lg-start ">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h3 class="contactanos">Contactanos</h3>
              <img class="logo" src="https://air-xpress.s3.us-east-2.amazonaws.com/Logo.png" alt="">
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            
            <!--Grid column-->
      
            <!--Grid column-->
            
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="links row-lg-3 col-md-6 mb-4 mb-md-0">
          
          
          <div class="contRedes">
            <div class="row">
              <div id="logo col-sm">
                <a href="http://www.whatsapp.com">
                  <span class="iconify" data-icon="bi:whatsapp" data-inline="false"></span>
                  </a>
              </div>
           
            
              <div id="logo col-sm">
                <a href="http://www.instagram.com">
                  <span class="iconify" data-icon="akar-icons:instagram-fill" data-inline="false"></span>                  </a>
              </div>
            
            
              <div id="logo col-sm">
                <a href="http://www.facebook.com">
                  <span class="iconify" data-icon="akar-icons:facebook-fill" data-inline="false"></span>
                </div>
            
           
              <div id="logo">
                <a href="http://www.gmail.com">
                  <span class="iconify" data-icon="ant-design:mail-outlined" data-inline="false"></span>
                </div>
            </div>

          </div>
            
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
      